


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';


SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."adaptive_decisions" (
    "decision_id" bigint NOT NULL,
    "evaluation_id" bigint NOT NULL,
    "next_action" character varying(100),
    "next_topic" character varying(200),
    "difficulty" character varying(50),
    "reason" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."adaptive_decisions" OWNER TO "postgres";


ALTER TABLE "public"."adaptive_decisions" ALTER COLUMN "decision_id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."adaptive_decisions_decision_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."answers" (
    "answer_id" bigint NOT NULL,
    "question_id" bigint NOT NULL,
    "answer_text" "text" NOT NULL,
    "submitted_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."answers" OWNER TO "postgres";


ALTER TABLE "public"."answers" ALTER COLUMN "answer_id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."answers_answer_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."certifications" (
    "certification_id" bigint NOT NULL,
    "resume_id" bigint NOT NULL,
    "name" character varying(250),
    "issuer" character varying(200),
    "year" character varying(10)
);


ALTER TABLE "public"."certifications" OWNER TO "postgres";


ALTER TABLE "public"."certifications" ALTER COLUMN "certification_id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."certifications_certification_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."checkpoint_blobs" (
    "thread_id" "text" NOT NULL,
    "checkpoint_ns" "text" DEFAULT ''::"text" NOT NULL,
    "channel" "text" NOT NULL,
    "version" "text" NOT NULL,
    "type" "text" NOT NULL,
    "blob" "bytea"
);


ALTER TABLE "public"."checkpoint_blobs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."checkpoint_migrations" (
    "v" integer NOT NULL
);


ALTER TABLE "public"."checkpoint_migrations" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."checkpoint_writes" (
    "thread_id" "text" NOT NULL,
    "checkpoint_ns" "text" DEFAULT ''::"text" NOT NULL,
    "checkpoint_id" "text" NOT NULL,
    "task_id" "text" NOT NULL,
    "idx" integer NOT NULL,
    "channel" "text" NOT NULL,
    "type" "text",
    "blob" "bytea" NOT NULL,
    "task_path" "text" DEFAULT ''::"text" NOT NULL
);


ALTER TABLE "public"."checkpoint_writes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."checkpoints" (
    "thread_id" "text" NOT NULL,
    "checkpoint_ns" "text" DEFAULT ''::"text" NOT NULL,
    "checkpoint_id" "text" NOT NULL,
    "parent_checkpoint_id" "text",
    "type" "text",
    "checkpoint" "jsonb" NOT NULL,
    "metadata" "jsonb" DEFAULT '{}'::"jsonb" NOT NULL
);


ALTER TABLE "public"."checkpoints" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."education" (
    "education_id" bigint NOT NULL,
    "resume_id" bigint NOT NULL,
    "degree" character varying(150),
    "field" character varying(200),
    "institution" character varying(250),
    "start_year" integer,
    "end_year" integer,
    "cgpa" character varying(20),
    "details" "text"
);


ALTER TABLE "public"."education" OWNER TO "postgres";


ALTER TABLE "public"."education" ALTER COLUMN "education_id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."education_education_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."evaluations" (
    "evaluation_id" bigint NOT NULL,
    "answer_id" bigint NOT NULL,
    "score" numeric(5,2),
    "correctness" "text",
    "completeness" "text",
    "confidence" "text",
    "missing_concepts" "text",
    "feedback" "text",
    "needs_followup" boolean DEFAULT false,
    "technical_depth" integer
);


ALTER TABLE "public"."evaluations" OWNER TO "postgres";


ALTER TABLE "public"."evaluations" ALTER COLUMN "evaluation_id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."evaluations_evaluation_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."experiences" (
    "experience_id" bigint NOT NULL,
    "resume_id" bigint NOT NULL,
    "company" character varying(200),
    "role" character varying(200),
    "location" character varying(200),
    "start_date" "date",
    "end_date" "date",
    "responsibilities" "text"
);


ALTER TABLE "public"."experiences" OWNER TO "postgres";


ALTER TABLE "public"."experiences" ALTER COLUMN "experience_id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."experiences_experience_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."interview_reports" (
    "report_id" bigint NOT NULL,
    "interview_id" bigint NOT NULL,
    "overall_score" numeric(5,2),
    "strengths" "text",
    "weaknesses" "text",
    "recommendations" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "summary" "text",
    "topics_covered" "jsonb",
    "profile_strengths" "jsonb",
    "interview_demonstrated_strengths" "jsonb",
    "interview_knowledge_gaps" "jsonb"
);


ALTER TABLE "public"."interview_reports" OWNER TO "postgres";


ALTER TABLE "public"."interview_reports" ALTER COLUMN "report_id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."interview_reports_report_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."interviews" (
    "interview_id" bigint NOT NULL,
    "user_id" bigint NOT NULL,
    "role" character varying(150) NOT NULL,
    "status" character varying(50) DEFAULT 'started'::character varying,
    "started_at" timestamp with time zone DEFAULT "now"(),
    "completed_at" timestamp with time zone,
    "resume_id" bigint,
    "current_topic" character varying,
    "current_difficulty" character varying,
    "question_count" integer DEFAULT 0 NOT NULL,
    "max_questions" integer DEFAULT 10 NOT NULL
);


ALTER TABLE "public"."interviews" OWNER TO "postgres";


ALTER TABLE "public"."interviews" ALTER COLUMN "interview_id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."interviews_interview_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."password_reset_otps" (
    "id" bigint NOT NULL,
    "user_id" bigint NOT NULL,
    "otp_hash" "text" NOT NULL,
    "expires_at" timestamp with time zone NOT NULL,
    "attempts" integer DEFAULT 0 NOT NULL,
    "verified_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."password_reset_otps" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."password_reset_otps_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."password_reset_otps_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."password_reset_otps_id_seq" OWNED BY "public"."password_reset_otps"."id";



CREATE TABLE IF NOT EXISTS "public"."project_technologies" (
    "id" bigint NOT NULL,
    "project_id" bigint NOT NULL,
    "technology" character varying(150) NOT NULL
);


ALTER TABLE "public"."project_technologies" OWNER TO "postgres";


ALTER TABLE "public"."project_technologies" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."project_technologies_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."projects" (
    "project_id" bigint NOT NULL,
    "resume_id" bigint NOT NULL,
    "name" character varying(250) NOT NULL,
    "description" "text",
    "domain" character varying(150),
    "role" character varying(150),
    "duration" character varying(100)
);


ALTER TABLE "public"."projects" OWNER TO "postgres";


ALTER TABLE "public"."projects" ALTER COLUMN "project_id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."projects_project_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."questions" (
    "question_id" bigint NOT NULL,
    "interview_id" bigint NOT NULL,
    "question_text" "text" NOT NULL,
    "topic" character varying(150),
    "difficulty" character varying(50),
    "question_type" character varying(100),
    "question_order" integer,
    "expected_concepts" "jsonb"
);


ALTER TABLE "public"."questions" OWNER TO "postgres";


ALTER TABLE "public"."questions" ALTER COLUMN "question_id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."questions_question_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."resumes" (
    "resume_id" bigint NOT NULL,
    "user_id" bigint NOT NULL,
    "name" character varying(150) NOT NULL,
    "email" "text",
    "phone" "text",
    "location" "text",
    "profile_metadata" "jsonb" DEFAULT '{}'::"jsonb"
);


ALTER TABLE "public"."resumes" OWNER TO "postgres";


ALTER TABLE "public"."resumes" ALTER COLUMN "resume_id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."resumes_resume_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."skills" (
    "skill_id" bigint NOT NULL,
    "resume_id" bigint NOT NULL,
    "skill_name" character varying(150) NOT NULL,
    "category" character varying(100)
);


ALTER TABLE "public"."skills" OWNER TO "postgres";


ALTER TABLE "public"."skills" ALTER COLUMN "skill_id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."skills_skill_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."users" (
    "user_id" bigint NOT NULL,
    "email" character varying(255) NOT NULL,
    "password_hash" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "name" "text"
);


ALTER TABLE "public"."users" OWNER TO "postgres";


ALTER TABLE "public"."users" ALTER COLUMN "user_id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."users_user_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



ALTER TABLE ONLY "public"."password_reset_otps" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."password_reset_otps_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."adaptive_decisions"
    ADD CONSTRAINT "adaptive_decisions_pkey" PRIMARY KEY ("decision_id");



ALTER TABLE ONLY "public"."answers"
    ADD CONSTRAINT "answers_pkey" PRIMARY KEY ("answer_id");



ALTER TABLE ONLY "public"."answers"
    ADD CONSTRAINT "answers_question_id_key" UNIQUE ("question_id");



ALTER TABLE ONLY "public"."certifications"
    ADD CONSTRAINT "certifications_pkey" PRIMARY KEY ("certification_id");



ALTER TABLE ONLY "public"."checkpoint_blobs"
    ADD CONSTRAINT "checkpoint_blobs_pkey" PRIMARY KEY ("thread_id", "checkpoint_ns", "channel", "version");



ALTER TABLE ONLY "public"."checkpoint_migrations"
    ADD CONSTRAINT "checkpoint_migrations_pkey" PRIMARY KEY ("v");



ALTER TABLE ONLY "public"."checkpoint_writes"
    ADD CONSTRAINT "checkpoint_writes_pkey" PRIMARY KEY ("thread_id", "checkpoint_ns", "checkpoint_id", "task_id", "idx");



ALTER TABLE ONLY "public"."checkpoints"
    ADD CONSTRAINT "checkpoints_pkey" PRIMARY KEY ("thread_id", "checkpoint_ns", "checkpoint_id");



ALTER TABLE ONLY "public"."education"
    ADD CONSTRAINT "education_pkey" PRIMARY KEY ("education_id");



ALTER TABLE ONLY "public"."evaluations"
    ADD CONSTRAINT "evaluations_answer_id_key" UNIQUE ("answer_id");



ALTER TABLE ONLY "public"."evaluations"
    ADD CONSTRAINT "evaluations_pkey" PRIMARY KEY ("evaluation_id");



ALTER TABLE ONLY "public"."experiences"
    ADD CONSTRAINT "experiences_pkey" PRIMARY KEY ("experience_id");



ALTER TABLE ONLY "public"."interview_reports"
    ADD CONSTRAINT "interview_reports_interview_id_key" UNIQUE ("interview_id");



ALTER TABLE ONLY "public"."interview_reports"
    ADD CONSTRAINT "interview_reports_pkey" PRIMARY KEY ("report_id");



ALTER TABLE ONLY "public"."interviews"
    ADD CONSTRAINT "interviews_pkey" PRIMARY KEY ("interview_id");



ALTER TABLE ONLY "public"."password_reset_otps"
    ADD CONSTRAINT "password_reset_otps_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."project_technologies"
    ADD CONSTRAINT "project_technologies_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."projects"
    ADD CONSTRAINT "projects_pkey" PRIMARY KEY ("project_id");



ALTER TABLE ONLY "public"."questions"
    ADD CONSTRAINT "questions_pkey" PRIMARY KEY ("question_id");



ALTER TABLE ONLY "public"."resumes"
    ADD CONSTRAINT "resumes_pkey" PRIMARY KEY ("resume_id");



ALTER TABLE ONLY "public"."resumes"
    ADD CONSTRAINT "resumes_user_id_key" UNIQUE ("user_id");



ALTER TABLE ONLY "public"."skills"
    ADD CONSTRAINT "skills_pkey" PRIMARY KEY ("skill_id");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_pkey" PRIMARY KEY ("user_id");



CREATE INDEX "checkpoint_blobs_thread_id_idx" ON "public"."checkpoint_blobs" USING "btree" ("thread_id");



CREATE INDEX "checkpoint_writes_thread_id_idx" ON "public"."checkpoint_writes" USING "btree" ("thread_id");



CREATE INDEX "checkpoints_thread_id_idx" ON "public"."checkpoints" USING "btree" ("thread_id");



CREATE INDEX "idx_password_reset_otps_user_id" ON "public"."password_reset_otps" USING "btree" ("user_id");



ALTER TABLE ONLY "public"."adaptive_decisions"
    ADD CONSTRAINT "fk_adaptive_evaluation" FOREIGN KEY ("evaluation_id") REFERENCES "public"."evaluations"("evaluation_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."answers"
    ADD CONSTRAINT "fk_answer_question" FOREIGN KEY ("question_id") REFERENCES "public"."questions"("question_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."certifications"
    ADD CONSTRAINT "fk_certification_resume" FOREIGN KEY ("resume_id") REFERENCES "public"."resumes"("resume_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."education"
    ADD CONSTRAINT "fk_education_resume" FOREIGN KEY ("resume_id") REFERENCES "public"."resumes"("resume_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."evaluations"
    ADD CONSTRAINT "fk_evaluation_answer" FOREIGN KEY ("answer_id") REFERENCES "public"."answers"("answer_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."experiences"
    ADD CONSTRAINT "fk_experience_resume" FOREIGN KEY ("resume_id") REFERENCES "public"."resumes"("resume_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."interviews"
    ADD CONSTRAINT "fk_interview_user" FOREIGN KEY ("user_id") REFERENCES "public"."users"("user_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."projects"
    ADD CONSTRAINT "fk_project_resume" FOREIGN KEY ("resume_id") REFERENCES "public"."resumes"("resume_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."project_technologies"
    ADD CONSTRAINT "fk_project_technology" FOREIGN KEY ("project_id") REFERENCES "public"."projects"("project_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."questions"
    ADD CONSTRAINT "fk_question_interview" FOREIGN KEY ("interview_id") REFERENCES "public"."interviews"("interview_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."interview_reports"
    ADD CONSTRAINT "fk_report_interview" FOREIGN KEY ("interview_id") REFERENCES "public"."interviews"("interview_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."resumes"
    ADD CONSTRAINT "fk_resume_user" FOREIGN KEY ("user_id") REFERENCES "public"."users"("user_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."skills"
    ADD CONSTRAINT "fk_skill_resume" FOREIGN KEY ("resume_id") REFERENCES "public"."resumes"("resume_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."interviews"
    ADD CONSTRAINT "interviews_resume_id_fkey" FOREIGN KEY ("resume_id") REFERENCES "public"."resumes"("resume_id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."password_reset_otps"
    ADD CONSTRAINT "password_reset_otps_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("user_id") ON DELETE CASCADE;



ALTER TABLE "public"."adaptive_decisions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."answers" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."certifications" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."education" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."evaluations" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."experiences" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."interview_reports" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."interviews" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."project_technologies" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."projects" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."questions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."resumes" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."skills" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."users" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON TABLE "public"."adaptive_decisions" TO "anon";
GRANT ALL ON TABLE "public"."adaptive_decisions" TO "authenticated";
GRANT ALL ON TABLE "public"."adaptive_decisions" TO "service_role";



GRANT ALL ON SEQUENCE "public"."adaptive_decisions_decision_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."adaptive_decisions_decision_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."adaptive_decisions_decision_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."answers" TO "anon";
GRANT ALL ON TABLE "public"."answers" TO "authenticated";
GRANT ALL ON TABLE "public"."answers" TO "service_role";



GRANT ALL ON SEQUENCE "public"."answers_answer_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."answers_answer_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."answers_answer_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."certifications" TO "anon";
GRANT ALL ON TABLE "public"."certifications" TO "authenticated";
GRANT ALL ON TABLE "public"."certifications" TO "service_role";



GRANT ALL ON SEQUENCE "public"."certifications_certification_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."certifications_certification_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."certifications_certification_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."checkpoint_blobs" TO "anon";
GRANT ALL ON TABLE "public"."checkpoint_blobs" TO "authenticated";
GRANT ALL ON TABLE "public"."checkpoint_blobs" TO "service_role";



GRANT ALL ON TABLE "public"."checkpoint_migrations" TO "anon";
GRANT ALL ON TABLE "public"."checkpoint_migrations" TO "authenticated";
GRANT ALL ON TABLE "public"."checkpoint_migrations" TO "service_role";



GRANT ALL ON TABLE "public"."checkpoint_writes" TO "anon";
GRANT ALL ON TABLE "public"."checkpoint_writes" TO "authenticated";
GRANT ALL ON TABLE "public"."checkpoint_writes" TO "service_role";



GRANT ALL ON TABLE "public"."checkpoints" TO "anon";
GRANT ALL ON TABLE "public"."checkpoints" TO "authenticated";
GRANT ALL ON TABLE "public"."checkpoints" TO "service_role";



GRANT ALL ON TABLE "public"."education" TO "anon";
GRANT ALL ON TABLE "public"."education" TO "authenticated";
GRANT ALL ON TABLE "public"."education" TO "service_role";



GRANT ALL ON SEQUENCE "public"."education_education_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."education_education_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."education_education_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."evaluations" TO "anon";
GRANT ALL ON TABLE "public"."evaluations" TO "authenticated";
GRANT ALL ON TABLE "public"."evaluations" TO "service_role";



GRANT ALL ON SEQUENCE "public"."evaluations_evaluation_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."evaluations_evaluation_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."evaluations_evaluation_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."experiences" TO "anon";
GRANT ALL ON TABLE "public"."experiences" TO "authenticated";
GRANT ALL ON TABLE "public"."experiences" TO "service_role";



GRANT ALL ON SEQUENCE "public"."experiences_experience_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."experiences_experience_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."experiences_experience_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."interview_reports" TO "anon";
GRANT ALL ON TABLE "public"."interview_reports" TO "authenticated";
GRANT ALL ON TABLE "public"."interview_reports" TO "service_role";



GRANT ALL ON SEQUENCE "public"."interview_reports_report_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."interview_reports_report_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."interview_reports_report_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."interviews" TO "anon";
GRANT ALL ON TABLE "public"."interviews" TO "authenticated";
GRANT ALL ON TABLE "public"."interviews" TO "service_role";



GRANT ALL ON SEQUENCE "public"."interviews_interview_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."interviews_interview_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."interviews_interview_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."password_reset_otps" TO "anon";
GRANT ALL ON TABLE "public"."password_reset_otps" TO "authenticated";
GRANT ALL ON TABLE "public"."password_reset_otps" TO "service_role";



GRANT ALL ON SEQUENCE "public"."password_reset_otps_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."password_reset_otps_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."password_reset_otps_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."project_technologies" TO "anon";
GRANT ALL ON TABLE "public"."project_technologies" TO "authenticated";
GRANT ALL ON TABLE "public"."project_technologies" TO "service_role";



GRANT ALL ON SEQUENCE "public"."project_technologies_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."project_technologies_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."project_technologies_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."projects" TO "anon";
GRANT ALL ON TABLE "public"."projects" TO "authenticated";
GRANT ALL ON TABLE "public"."projects" TO "service_role";



GRANT ALL ON SEQUENCE "public"."projects_project_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."projects_project_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."projects_project_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."questions" TO "anon";
GRANT ALL ON TABLE "public"."questions" TO "authenticated";
GRANT ALL ON TABLE "public"."questions" TO "service_role";



GRANT ALL ON SEQUENCE "public"."questions_question_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."questions_question_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."questions_question_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."resumes" TO "anon";
GRANT ALL ON TABLE "public"."resumes" TO "authenticated";
GRANT ALL ON TABLE "public"."resumes" TO "service_role";



GRANT ALL ON SEQUENCE "public"."resumes_resume_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."resumes_resume_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."resumes_resume_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."skills" TO "anon";
GRANT ALL ON TABLE "public"."skills" TO "authenticated";
GRANT ALL ON TABLE "public"."skills" TO "service_role";



GRANT ALL ON SEQUENCE "public"."skills_skill_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."skills_skill_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."skills_skill_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."users" TO "anon";
GRANT ALL ON TABLE "public"."users" TO "authenticated";
GRANT ALL ON TABLE "public"."users" TO "service_role";



GRANT ALL ON SEQUENCE "public"."users_user_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."users_user_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."users_user_id_seq" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







